<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="BleMeshAPP" android:installLocation="auto" android:versionCode="1" android:versionName="1.0.0">
	<uses-sdk android:minSdkVersion="27" android:targetSdkVersion="32" />
	<uses-permission android:name="android.permission.BLUETOOTH" />
	<uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
	<uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
	<uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<application android:label="BleMeshAPP" android:icon="@drawable/icon"></application>
</manifest>